:root {
  --sdBoxGR_FontFamily: '思源黑体 CN', 黑体;
  --default_sdBoxGR_FontFamily: '思源黑体 CN', 黑体;
  --sdBoxSD_FontFamily: '思源黑体 Heavy', 黑体;
  --default_sdBoxSD_FontFamily: '思源黑体 Heavy', 黑体;
  --body_font: 'Times New Roman', 华文中宋;
  --default_body_font: 'Times New Roman', 华文中宋;
  --sdDes-font-family: '思源黑体', 宋体;
  --default_sdDes-font-family: '思源黑体', 黑体;
}

body {
  font-family: var(--body_font);
  font-weight: normal;
  font-size: 130%;
  /* --lr_size: 26%;
  margin-left:  var(--lr_size);
  margin-right: var(--lr_size); */
  width: 700px;
  margin: auto;
  overflow-y: scroll;
  background-color: #fcfcfc;
}

a {
  text-decoration: underline;
  color: red;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: solid black;
}

h2, h3, h4 {
  text-align: left;
}

p, span {
  font-size: 100%;
}

caption {
  padding-bottom: 10px;
}

/* 表格样式 */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.hidden {
  display: none;
}

.transparent {
  color: transparent;
}

.sBlock {
  display: block;
}

.littleTitle {
  text-align: center;
  font-family: 华文中宋;
  font-size: 110%;
  line-height: 0px;
  font-weight: normal;
  margin-bottom: 30px;
}

.oldBook {
  font-family: 华文中宋;
}

/* 警告提示 */
.warning {
  font-family: Consolas, 黑体;
  font-size: 110%;
  border-radius: 10px;
  padding: 0px;
  line-height: 100%;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* 时间复杂度 */
.timeUse {
  font-family: 'Cambria', 华文中宋;
  font-style: italic;
}

.code {
  font-family: 'Consolas', 黑体;
  font-weight: normal;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 130%;
}

/* 浮动提示框 */
.floatDiv {
  width: 90%;
  border: solid black 2px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 10px grey;
}

.quote {
  border-left:6px solid grey;
  background-color: #EEEEEE;
  padding: 10px;
  padding-left: 15px;
}

.center {
  margin: auto;
}

.textCenter {
  text-align: center;
}

/* 后室？ */
.sdBoxs {
  padding: 0px;
  /* width: 60%; */
}

.sdBox {
  border-style: solid;
  border-color: rgb(72, 69, 60);
  border-width: 4px;
  padding: 5px;
  background: no-repeat center top 100% 100%;
  --transparent: 0.80;
  --begin: rgba(72, 69, 60, var(--transparent));
  --padPx: 200px;
  --pic: url(header.png), url(/header.png);
  --sdHabitC: rgba(26, 128, 111, var(--transparent));
  --sdDeadZoneC: rgba(44, 14, 12, var(--transparent));
  --sdPendC: rgba(182, 182, 182, var(--transparent));
  --sdAmenC: rgba(185, 135, 212, var(--transparent));
  --sdOmegaC: rgba(25, 46, 255, var(--transparent));
  --sdNA: rgba(38, 38, 38, var(--transparent));
  --sd0: rgba(247, 227, 117, var(--transparent));
  --sd1: rgba(225, 201, 14, var(--transparent));
  --sd2: rgba(245, 156, 0, var(--transparent));
  --sd3: rgba(249, 90, 0, var(--transparent));
  --sd4: rgba(254, 23, 1, var(--transparent));
  --sd5: rgba(175, 6, 6, var(--transparent));
}

.sdGreyF {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.sdBoxSmall {
  width: 500px;
}

/* 宜居 */
.sdBoxHa {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sdHabitC)), var(--pic);
}

/* 死区 */
.sdBoxDead {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sdDeadZoneC)), var(--pic);
  border-color: rgb(20, 0, 0);
}

/* 未分级 性质未解明 信息未知 未探明实体 */
.sdBoxPend {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sdPendC)), var(--pic);
}

/* 修正 */
.sdBoxAmen {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sdAmenC)), var(--pic);
}

/* 终结 */
.sdBoxOmega {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sdOmegaC)), var(--pic);
}

/* 不适用 */
.sdBoxNA {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sdNA)), var(--pic);
  border-color: rgb(0, 0, 0);
}

.sdBox0 {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sd0)), var(--pic);
}

.sdBox1 {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sd1)), var(--pic);
}

.sdBox2 {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sd2)), var(--pic);
}

.sdBox3 {
  color: white;
}

.sdBox4 {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sd4)), var(--pic);
}

.sdBox5 {
  background-image: linear-gradient(to right, var(--begin), var(--padPx), var(--sd5)), var(--pic);
}

.sdBoxSD {
  font-family: var(--sdBoxSD_FontFamily);
  font-size: 35px;
  line-height: 100%;
  color: white;
}

.sdBoxGR {
  font-family: var(--sdBoxGR_FontFamily);
  font-size: 25px;
  color: white;
  font-style: italic;
  font-weight: 400;
}

.sdDes {
  font-size: 25px;
  line-height: 30px;
  list-style-type: square;
  font-family: var(--sdDes-font-family);
}

.sdDesLight {
  background-color: #fcfcfc;
  color: black;
}

/* 邮件 */
.email {
  border: solid;
  border-color: black;
  border-width: 3px;
  padding: 5px;
  margin: 5px;
}

/* 路径 */
.path {
  border-bottom: solid 1px green;
}

/* 图片 */
.pic {
  /* border: solid lightgray 10px;
  border-bottom: solid lightgray 20px; */
  margin: 30px;
}

/* 浮动 */
.floatRight {
  float: right;
}